Options -MultiViews
RewriteEngine On

RewriteBase /php-mentorship/Projects/notes/public/

# Rewriting all of request to the endpoint of the /php-mentorship/Projects/notes/public
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
